PHABRICATOR_URL=https://phabricator.example.com/api/
PHABRICATOR_OAUTH_CLIENT_ID=PHID-OASC-12345
PHABRICATOR_OAUTH_CLIENT_SECRET=secret
PHABRICATOR_MCP_SERVER_URL=http://localhost:8000
PHABRICATOR_OAUTH_SCOPE=maniphest file phriction
FASTMCP_HOME=/tmp/fastmcp
# SSL_CERT_FILE=/etc/ssl/certs/corporate-ca.pem